@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(65, 48, 48);
  --card: rgb(250, 250, 250);
  --card-foreground: rgb(65, 48, 48);
  --popover: rgb(250, 250, 250);
  --popover-foreground: rgb(65, 48, 48);
  --primary: rgb(231, 0, 11);
  --primary-foreground: rgb(254, 242, 242);
  --secondary: rgb(254, 242, 242);
  --secondary-foreground: rgb(231, 0, 11);
  --muted: rgb(249, 250, 251);
  --muted-foreground: rgb(106, 114, 130);
  --accent: rgb(255, 235, 235);
  --accent-foreground: rgb(82, 56, 56);
  --destructive: rgb(193, 0, 7);
  --destructive-foreground: rgb(254, 242, 242);
  --border: rgb(235, 235, 235);
  --input: rgb(235, 235, 235);
  --ring: rgb(252, 29, 29);
  --chart-1: rgb(0, 201, 80);
  --chart-2: rgb(255, 105, 0);
  --chart-3: rgb(0, 187, 167);
  --chart-4: rgb(0, 184, 219);
  --chart-5: rgb(43, 127, 255);
  --sidebar: rgb(255, 240, 240);
  --sidebar-foreground: rgb(95, 88, 88);
  --sidebar-primary: rgb(231, 0, 11);
  --sidebar-primary-foreground: rgb(254, 242, 242);
  --sidebar-accent: rgb(255, 235, 235);
  --sidebar-accent-foreground: rgb(82, 56, 56);
  --sidebar-border: rgb(235, 235, 235);
  --sidebar-ring: rgb(252, 29, 29);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Montserrat, sans-serif;
  --font-mono: Montserrat, sans-serif;
  --radius: 0.725rem;
  --shadow-x: 0px;
  --shadow-y: 3.5px;
  --shadow-blur: 10px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.2);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(35, 31, 31);
  --foreground: rgb(255, 229, 229);
  --card: rgb(34, 27, 27);
  --card-foreground: rgb(224, 231, 255);
  --popover: rgb(34, 27, 27);
  --popover-foreground: rgb(224, 231, 255);
  --primary: rgb(231, 0, 11);
  --primary-foreground: rgb(249, 250, 251);
  --secondary: rgb(49, 25, 23);
  --secondary-foreground: rgb(255, 162, 162);
  --muted: rgb(54, 38, 38);
  --muted-foreground: rgb(176, 156, 156);
  --accent: rgb(49, 25, 23);
  --accent-foreground: rgb(255, 226, 226);
  --destructive: rgb(231, 0, 11);
  --destructive-foreground: rgb(254, 242, 242);
  --border: rgb(58, 39, 39);
  --input: rgb(58, 39, 39);
  --ring: rgb(231, 0, 11);
  --chart-1: rgb(0, 201, 80);
  --chart-2: rgb(255, 105, 0);
  --chart-3: rgb(0, 187, 167);
  --chart-4: rgb(0, 184, 219);
  --chart-5: rgb(43, 127, 255);
  --sidebar: rgb(73, 50, 50);
  --sidebar-foreground: rgb(255, 224, 224);
  --sidebar-primary: rgb(231, 0, 11);
  --sidebar-primary-foreground: rgb(249, 250, 251);
  --sidebar-accent: rgb(91, 62, 62);
  --sidebar-accent-foreground: rgb(219, 209, 209);
  --sidebar-border: rgb(58, 39, 39);
  --sidebar-ring: rgb(253, 170, 170);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Montserrat, sans-serif;
  --font-mono: Montserrat, sans-serif;
  --radius: 0.725rem;
  --shadow-x: 0px;
  --shadow-y: 3.5px;
  --shadow-blur: 10px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 3.5px 10px -4px hsl(0 0% 0% / 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
